.header {
  background-image: url(/src/images/HP2.jpg);

  width: 125%;
  height: 120px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  object-fit: cover;
}
